# CURRENTLY NOT USED. LEAVING UNTIL A PROPER CONFIG SYSTEM IS IMPLEMENTED.
[flask]

[8ball]
stats_enabled = {{ eightball_metrics_enabled | bool | lower}}
# stats_ms_rounding = {{ eightball_metrics_ms_rounding | bool | lower }}
nodename = {{ inventory_hostname }}

