# uwsgi configuration for 8ball service
[uwsgi]
module = wsgi:app
chdir = {{ eightball_app_path }}
uid = {{ eightball_owner }} 
gid = {{ eightball_group }}

master = true
processes = 5

socket = {{ eightball_base_path }}/8ball.sock

chmod-socket = 660
vacuum = true

die-on-term = true

env = EIGHTBALL_STATS_ENABLED={{ eightball_metrics_enabled | bool | lower}}
env = EIGHTBALL_NODENAME={{ inventory_hostname }}
env = EIGHTBALL_INFLUXDB_HOST={{ hostvars['control']['ansible_host'] }}
