# /etc/systemd/system/8ball.service
[Unit]
Description=uWSGI instance to serve 8ball-server
After=network.target

[Service]
User={{ eightball_owner }}
Group={{ eightball_group }}
WorkingDirectory={{ eightball_app_path }}
ExecStart=/usr/bin/uwsgi --ini {{ eightball_wsgi_conf }} --logto {{ eightball_logto_file }} 

[Install]
WantedBy=multi-user.target
