# uwsgi configuration for 8ball service
[uwsgi]
module = wsgi:app
chdir = {{ eightball_app_path }}
uid = {{ eightball_owner }} 
gid = {{ eightball_group }}

master = true
processes = 5

socket = {{ eightball_base_path }}/8ball.sock

chmod-socket = 660
vacuum = true

die-on-term = true

